.react-responsive-modal-root {
    
}

.react-responsive-modal-root .react-responsive-modal-modal {
  border-radius: 15px;
}


@media screen and (max-width : 767px) {
    .react-responsive-modal-root {
        /* margin-top : 70px; */
    }

    .react-responsive-modal-root 
    .react-responsive-modal-modal {
        margin : 0px;
        margin-top : 60px;
    }
}
